.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #cb4d03c9;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.iconclose{
  text-decoration: none;
}


.dropbutton{
  display: none;
}

#leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  position: relative;
  color: white;
  cursor: pointer;
}
.drpcontent{
  display: none;
  position: absolute;
  background-color: #2a2727e3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  padding: 12px 16px;
  height: 200px;
  left: -23px;
  font-size: x-small;
  color: lightgreen;
  z-index: 1;
  margin-top: 260px;
} 



#leftInnerContainer:hover .drpcontent{
  display: block;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.rightInnerContainer a{
  text-decoration: none;
  font-size: large;
  color: #ffffff91;
}

.onlineIcon {
  margin-right: 5%;
}

@media (min-width: 320px) and (max-width: 760px) {

  .onlineIcon{
    width: 6%;
    margin-left:10vw;
  }
  .roomname{
    margin-left: 5vw;
    font-size: 4vh;
  }

 }
